{% extends "root.html" %}
{% block content %}

<h2 style="text-align:center; margin-bottom:20px; font-weight:600;">
    Update Patient History
</h2>

<div class="box">

<p><b>Patient Name:</b> {{ patient.user_name }}</p>
<p><b>Doctor Name:</b> Dr. {{ doctor.user_name }}</p>
<p><b>Department:</b> {{ department.name }}</p>

<form method="POST" action="{{ url_for('update_history', appointment_id=appointment.id) }}">

    <div class="row">
        <div class="field">
            <label>Visit Type</label>
            <input type="text" name="visit_type">
        </div>

        <div class="field">
            <label>Test Done</label>
            <input type="text" name="tests_done">
        </div>
    </div>

    <div class="row">
        <div class="field">
            <label>Diagnosis</label>
            <input type="text" name="diagnosis">
        </div>

        <div class="field">
            <label>Medicines</label>

            <select name="medicine_id">
                <option value="">-- Select Medicine --</option>
                {% for med in medicines %}
                <option value="{{ med.id }}">
                    {{ med.name }} ({{ med.intake_time }})
                </option>
                {% endfor %}
            </select>

        </div>
    </div>

    <div class="field">
        <label>Prescription</label>
        <textarea name="prescription"></textarea>
    </div>

    <button class="save-btn">Save</button>
</form>

</div>

<style>
.box {
    width: 70%;
    background: white;
    padding: 25px;
    border-radius: 12px;
    margin: auto;
    border: 1px solid #bbb;
}

.row {
    display: flex;
    gap: 25px;
    margin-bottom: 18px;
}

.field {
    flex: 1;
}

.field input,
textarea,
select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #aaa;
    font-size: 14px;
    background: #fafafa;
}

.save-btn {
    background:white;
    border:1px solid #888;
    padding:10px 20px;
    border-radius:6px;
    cursor:pointer;
    font-size:15px;
}

.save-btn:hover {
    background:#f2f2f2;
}
</style>

{% endblock %}
