{% extends "root.html" %}

{% block title %}Add Doctor{% endblock %}

{% block content %}

<h2 style="text-align:center; margin-top:10px;">Add a New Doctor</h2>

<div style="
    width: 420px;
    margin: auto;
    margin-top: 20px;
    padding: 45px;
    border: 2px solid black;
    border-radius: 25px;
    background: white;
    font-family: Arial;
">

    <form method="POST">

        <label>Fullname</label><br>
        <input type="text" name="full_name" required style="width:100%; padding:10px 10px 10px 4px;; margin-bottom:15px;margin-top:5px;
                      border:2px solid black; border-radius:10px;">

        <label>Department</label>
        <select name="department_id" required
            style="width:100%; padding:10px 10px 10px 4px;; border:2px solid black; border-radius:10px; margin-bottom:15px; margin-top:5px; ">
            <option value="" disabled selected>Select Department</option>

            {% for dept in departments %}
            <option value="{{ dept.id }}">{{ dept.name }}</option>
            {% endfor %}
        </select>

        <label>Experience (years)</label><br>
        <input type="number" name="experience" min="0" required style="width:100%; padding:10px 10px 10px 4px; margin-top:5px; margin-bottom:10px;
                      border:2px solid black; border-radius:10px;">


        <button type="submit" style="float:right; padding:8px 20px ; margin-bottom: 10px;margin-right:155px ; font-size:15px;
                       border:2px solid green; color:green; background:white;
                       border-radius:8px; cursor:pointer;">
            create
        </button>

    </form>

</div>

{% endblock %}