{% extends "root.html" %}

{% block title %}Signup{% endblock %}

{% block content %}

<h2 style="text-align:center;">Register Form</h2>

<div style="
    width: 350px;
    margin: auto;
    padding: 25px;
    border: 2px solid black;
    border-radius: 20px;
    background: white;
">

    <form method="POST">

        <label style="font-size:15px;">Username</label><br>
        <input 
            type="text" 
            name="user_name"
            required
            style="
                width:100%; 
                padding:10px 10px 10px 4px;
                margin-top:5px; 
                margin-bottom:15px;
                margin-right:100px;
                border:2px solid black;
                border-radius:10px;
            "
        >

        <label style="font-size:15px;">Email</label><br>
        <input 
            type="email" 
            name="email"
            required
            style="
                width:100%;    
                padding:10px 10px 10px 4px;
                margin-bottom: 15px;
                border:2px solid black;
                border-radius:10px;
            "
        >

        <label style="font-size:15px;">Password</label><br>
        <input 
            type="password" 
            name="password"
            id="signupPassword"
            required
            style="
                width:100%; 
                padding:10px; 
                padding:10px 10px 10px 4px;
                margin-bottom:10px;
                border:2px solid black;
                border-radius:10px;
            "
        >
        <div style="margin-bottom:25px;">
            <input 
                type="checkbox"
                onclick="toggleSignupPassword()"
            >
            Show Password
        </div>


        <button 
            type="submit"
            style="
                width:100%;
                padding:10px;
                font-size:16px;
                border:2px solid black;
                background:rgb(57, 152, 57);;
                border-radius:10px;
                cursor:pointer;
            "
        >
            Register
        </button>

    </form>

    <p style="text-align:center; margin-top:15px;">
        Already have an account? 
        <a href="{{ url_for('login') }}">Login</a>
    </p>

</div>

<script>
    function toggleSignupPassword() {
        var passwordField = document.getElementById("signupPassword");

        if (passwordField.type === "password") {
            passwordField.type = "text";
        } else {
            passwordField.type = "password";
        }
    }
</script>


{% endblock %}
